POSTGRES_HOST=localhost
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Go for 'azure' or 'openrouter'
LLM_PROVIDER=

AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_API_VERSION=
AZURE_GPT_DEPLOYMENT=
AZURE_EMBEDDING_DEPLOYMENT=

OPENROUTER_API_KEY=
OPENROUTER_MODEL=
OPENROUTER_EMBEDDING_MODEL=